body { 
	margin-left: 15px;
	background-image: url(../imagenes/fondo.jpg);
}
h1 { 
	-webkit-text-stroke: 1px black; 
	text-shadow: 0.1em 0.1em #333;
	color: #FFBF00; 
	font-family: 'Kavoon', cursive; 
	margin-left: 310px;
}
#ayuda {
	margin-left: 100px;
}